<div class="blog-detail-container">
  <% if notice %>
    <p class="notice-text"><%= notice %></p>
  <% end %>

  <div class="blog-card">
    <h2>­ЪЈЃРђЇРЎђ№ИЈ С╗іТЌЦсЂ«жЂІтІЋсЃАсЃІсЃЦсЃ╝</h2>
    <div class="blog-content"><%= @blog.title %></div>
  </div>

  <div class="blog-card">
    <h2>­ЪЊЮ тєЁт«╣</h2>
    <div class="blog-content"><%= @blog.content %></div>
  </div>

  <div class="blog-button-area">
    <% if @blog.diet.present? %>
      <%= link_to 'уиежЏє', edit_diet_blog_path(@blog.diet, @blog), class: "btn yellow" %>
      <%= link_to 'Тѕ╗сѓІ', diet_blogs_path(@blog.diet), class: "btn white" %>
    <% else %>
      <%= link_to 'уиежЏє', edit_blog_path(@blog), class: "btn yellow" %>
      <%= link_to 'Тѕ╗сѓІ', blogs_path, class: "btn white" %>
    <% end %>
  </div>
</div>
